# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# OS / editor
.DS_Store
.vscode/
.idea/

# Local outputs
outputs/*
!outputs/.gitkeep
